<h1>{{title}}</h1>
<div>
  <h2>*ngIf Demo</h2>
  <input type="number" [(ngModel)]="num" placeholder="Enter num value here">
  <div *ngIf="num !== undefined">
    <p>
      Entered number : {{ num }}
      <span *ngIf="isEvenOrOdd(); else oddBlock">Even Number</span> 
      <ng-template #oddBlock>Odd Number</ng-template>
    </p>    
  </div>
</div>

<div>
  <h2>*ngFor Demo</h2>
  <h3>List of Fruits</h3>
  <ul>
    <li *ngFor="let fruit of fruits">{{fruit}}</li>
  </ul>
  <div>
    <input type="text" [(ngModel)]="newFruitValue" placeholder="Enter new Fruit here">
    <button (click)="addFruit()">Add fruit</button>
  </div>
</div>

<div>
  <h2>*ngSwitchCase Demo</h2>
  <h3>Color Picker</h3>

  <select (change)="setColor($event)">
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="blue">Blue</option>
  </select>
  
  <div [ngSwitch]="selectedColor">
    <p *ngSwitchCase="'red'" style="color: red;">Red Color Selected</p>
    <p *ngSwitchCase="'green'" style="color: green;">Green Color Selected</p>
    <p *ngSwitchCase="'blue'" style="color: blue;">Blue Color Selected</p>
    <p *ngSwitchDefault>Unknown color selected</p>
  </div>
</div>
